body {
    padding: 20px;
    letter-spacing: 0.05em;
}

h1 {
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

h2 {
    color: #ccc;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    padding: 5px;
}

select {
    padding:5px;
    margin: 0px 5px;
}

input {
    padding:5px;
    margin: -5px;
    width:100%;
}

select {
    font-size: 90%;
}

button {
    padding:5px;
    margin: 5px 0px;
    border-radius: 5px;
    font-size: 90%;
}


/* spinner */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}